<div class="container-fluid">
    
    <div *ngIf="images" class="jumbotron">
        <img [src]="images[1].url" />
        <h1>{{name}}</h1>
        <small>
            {{release_date | date }}
        </small>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/artists/">Library</a></li>
            <li class="breadcrumb-item active">Data</li>
        </ol>
    </div>

    <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of songs">
            {{item.name}}
            <span class="badge badge-default badge-pill">
                {{ item.duration_ms | date:'mmss'}}
            </span>
        </li>
    </ul>
</div>