<div class="container-fluid">
      
      <div *ngIf="artist" class="jumbotron">
            <img [src]="artist.images[2]?.url" />
            <h1>{{artist?.name}}</h1>
            <small *ngFor="let genre of artist.genres">
            {{genre}}
            </small>
      </div>

      <div class="card-columns">
            <div class="card" *ngFor="let item of albums">
                  <a routerLink="/songs/{{item.id}}">
                        <img class="card-img-top img-fluid" *ngIf="item.images[1]" [src]="item.images[1]?.url"/>
                        <div class="card-block">
                              <h4 class="card-title">{{item.name}}</h4>
                        </div>
                  </a>
            </div>
      </div>
</div>